/*general css*/
html,body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

/*input box css*/
#city,
#country{
    flex: 0 0 auto;
    width: 100px;
}

/*current weather render information css*/
#currWeather p{
    color: rgb(99, 97, 97);
}

/* uv number css*/
#uvnum{
    color: white;
    padding: 8px;
    border-radius: 5px;;
}

/* forecast weather css*/
#fivedays{
    color: white;
    font-size: 13px;
}

#fivedays img{
    width: 50px;
}

/* close icon css*/
.list-ground-item {
    position: relative;
}

.close {
    position: absolute;
    right: 15px;
}

.close:hover{
    background-color: rgb(245, 243, 243);
    padding-left: 10px;
    padding-right: 10px;
}

/*media query for the search button to make it more user-friendly*/
@media screen and (max-width: 1150px) {
    #searchbtn1{
        display: none;
    }
    #searchbtn2{
        display: block !important;
    }
  }